// KOLORY
$dodatek: rgb(96, 215, 1)
$bg: black
$bg2: lighten($bg, 7.5%)
$tlo-stopka: lighten($bg, 3.75%)
$kolor: rgb(255, 255, 255)
$fiolet: rgb(79, 64, 246)
// KOLORY
$kolor: white
$tlo: black
$c-dodatek: $kolor
$tlo-dodatek: rgb(131, 26, 26)
$tlo2: lighten($tlo, 15%)
$c-log: $kolor
$bg-log: $tlo
$bg-naw: $tlo2
$c-kat: black
$bg-kat: yellow
$tytul-przeswit: rgba(0, 0, 0, 0.8)
// WYMIARY RWD
// Ogolna szerokosc
$szer-mobile: 100%
$szer-tablet: 100%
$szer-desktop: 100%
$szer-widescreen: 90%
$szer-fullhd: 80%

// HEADER
// Wysokosc
$naw-wys-mobile: 4em
$naw-wys-tablet: 4em
$naw-wys-desktop: 4em
$naw-wys-widescreen: 4em
$naw-wys-fullhd: 5em
// Szerokosc
$naw-szer-mobile: 100%
$naw-szer-tablet: 100%
$naw-szer-desktop: 100%
$naw-szer-widescreen: 80%
$naw-szer-fullhd: 90%

// FOOTER
$foo-wys-mobile: 10em
$foo-wys-tablet: $foo-wys-mobile + 1
$foo-wys-desktop: $foo-wys-tablet + 1
$foo-wys-widescreen: $foo-wys-desktop + 1
$foo-wys-fullhd: $foo-wys-widescreen + 1
$footer-logo-wymiar: ($foo-wys-fullhd / 2)
// Wysokosc sekcji social i menu w stopce:
$footer-social-wymiar: ($foo-wys-fullhd / 4)
// Margines i padding elementów w stopce
$footer-margin: 1em


// ZMIENNE
$jedna-dwunasta: (100% / 12) * 1
$jedna-szosta: (100% / 12) * 2
$jedna-czwarta: (100% / 12) * 3
$jedna-trzecia: (100% / 12) * 4
$piec-dwunastych: (100% / 12) * 5
$jedna-druga: (100% / 12) * 6
$siedem-dwunastych: (100% / 12) * 7
$dwie-trzecie: (100% / 12) * 8
$trzy-czwarte: (100% / 12) * 9
$piec-szostych: (100% / 12) * 10
$jedenascie-dwunastych: (100% / 12) * 11
$calosc: (100% / 12) * 12
$jedna-piata: 100%  * (1/5)
$dwie-piate: 100%  * (2/5)
$trzy-piate: 100%  * (3/5)
$cztery-piate: 100%  * (4/5)
$dwie-szoste: 100%  * (2/6)
